{% extends "layouts/index.html" %}
{% load static %}

{% block title %}Docker + Django{% endblock %}

{% block body %}
  <!-- <div class="flex justify-center pt-24 pb-12 px-2 sm:px-0" style="background-color: aqua;">
    <p>blue</p>
  </div> -->

  <section class="hero">
    <div class="hero-content">
        <h1>Welcome to Our Coaching Center</h1>
        <p>Expert guidance for JEE, NEET, Class X, and Class XII.</p>
        <a href="#courses" class="cta-button">Explore Courses</a>
    </div>
</section>
<section id="courses" class="courses">
    <h2>Our Courses</h2>
    <div class="course-list">
        <div class="course-item">JEE</div>
        <div class="course-item">NEET</div>
        <div class="course-item">Class X</div>
        <div class="course-item">Class XII</div>
    </div>
</section>
{% endblock %}