/*
 * Your custom CSS goes here but before adding a lot of CSS check this out:
 *   https://tailwindcss.com/docs/extracting-components
*/
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


/* Basic Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: white;
    color: black;
    line-height: 1.5;
}

.logo {
    width: 350 px;
}

nav ul {
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: rgba(2, 2, 2, 0.605);
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: 500;
}

footer {
    background-color: #0b153c;
    color: #ffffffac;
    text-align: center;
    padding: 1rem;
    bottom: 0;
    width: 100%;
}

footer p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}

footer li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}

section {
    text-align: start;
}

section h2 {
    font-weight: bold;
}

.btn {
    color: #ffffff;
    background-color: rgb(220 38 38);
    border-radius: 0.25rem;
    padding: 0.50rem 1rem;
}

/* main content css */
main {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main p {
    color: rgba(0, 0, 0, 0.592);
    font-size: small;
}

main .red-text {
    font-weight: 600;
    letter-spacing: 0.2em;
    color: rgb(220 38 38);
}

main .main-heading {
    font-weight: 800;
    font-size: 1.6rem;
    margin: 15px 0px;
}

main .btn {
    color: #ffffff;
    background-color: rgb(220 38 38);
    border-radius: 0.25rem;
    padding: 0.75rem 1.25rem;
}

main .carousel-inner-2 {
    display: flex;
    transition: transform 0.5s;
}

main .carousel-inner {
    display: flex;
    transition: transform 0.5s;
}

main .carousel-item {
    flex: 0 0 50%;
}

main .carousel-item-2 {
    flex: 0 0 100%;
}

main .blue-line {
    background-color: #00010344;
    height: 2px;
    border: none;
}

main .white-line {
    background-color: #edf0f67f;
    height: 2px;
    border: none;
    margin: 10px 0px;
}

main .methods-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #f3c4c4;
    color: #1e293bdb;
    width: 22rem;
    height: 16rem;
}

main .facilities-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-size: cover;
    background-position: center;
    color: #1e293bdb;
    width: 22rem;
    height: 10rem;
}

main .about_us {
    background-size: cover;
    background-position: center;
    align-self: center;
    width: 24rem;
    height: 14rem;
}

main .top_results {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    align-self: center;
    width: 24rem;
    height: 14rem;
}

main .facilities {
    background-color: #ffffffc7;
    padding: 1rem 0.5rem;
}

main .btn-course {
    display: flex;
    flex-direction: column;
    background-color: #0b153c;
    color: #ffffff;
    width: 16rem;
    height: 12rem;
}

main .result-heading {
    color: #1e293bca;
    font-size: 1.25rem;
    /* 20px */
    line-height: 1.75rem;
    /* 28px */
    font-weight: 700;
}

main .facilities-icon {
    height: 100px;
    margin-bottom: 30px;
}

main .slider-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 250px;
}

main .slider {
    display: flex;
    width: 200%;
    /* Will be dynamically adjusted */
    height: 100%;
    animation: scroll-left 20s linear infinite;
}

main .slide {
    width: calc(100% / 8);
    height: 100%;
}

main .slider-container02 {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 250px;
}

main .slider02 {
    display: flex;
    width: 200%;
    /* Will be dynamically adjusted */
    height: 100%;
    animation: scroll-right 20s linear infinite;
}

main .slide02 {
    width: calc(100% / 8);
    height: 100%;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes scroll-right {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0);
    }
}


/* Media Queries */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    main .carousel-item {
        flex: 0 0 100%;
    }
}

@media (max-width: 480px) {
    header {
        flex-direction: column;
    }

    main .carousel-item {
        flex: 0 0 100%;
    }
}