/*
 * Your custom CSS goes here but before adding a lot of CSS check this out:
 *   https://tailwindcss.com/docs/extracting-components
*/
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


/* Basic Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: white;
    color: black;
    line-height: 1.5;
}

.logo {
    width: 350 px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: rgba(2, 2, 2, 0.605);
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: 500;
}

footer {
    background-color: #0b153c;
    color: #ffffffac;
    text-align: center;
    padding: 1rem;
    bottom: 0;
    width: 100%;
}

svg {
    stroke:rgba(9, 9, 9, 0.488);
}

section{
    text-align: start;
}

section h2{
    font-weight: bold;
}


/* Media Queries */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 480px) {
    header {
        flex-direction: column;
    }
}